<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}"
        lang="en">

<head>
    <title>FusionTech - Qeydiyyat</title>
</head>

<body>

<section layout:fragment="content">

    <div style="display: flex; justify-content: center; margin-top: 35px;">
        <form method="post" action="/register">
            <div style="background-color: #FFD333; width: 435px; display: flex; flex-direction: column;
        align-items: center; padding: 20px; border-radius: 15px;">
                <h2 style="color: #3D464D; margin: 0;">Qeydiyyatdan keç</h2>
                <p style="color: #3D464D; margin-top: 10px;">Zəhmət olmasa məlumatları tam doldurun!</p>
                <!-- Ad və Soyad inputları yan-yana -->
                <div style="display: flex; justify-content: center; margin-top: 20px;">
                    <div style="margin-right: 15px;">
                        <input type="text" name="name" placeholder="Ad" required
                               style="width: 195px; height: 40px; padding-left: 10px; outline: none;
               box-shadow: none; border: 1px solid #ccc; border-radius: 5px;"/>
                    </div>
                    <div>
                        <input type="text" name="surname" placeholder="Soyad" required
                               style="width: 195px; height: 40px; padding-left: 10px; outline: none;
               box-shadow: none; border: 1px solid #ccc; border-radius: 5px;"/>
                    </div>
                </div>
                <!-- Gender Radio Buttons -->
                <div style="margin-top: 20px; width: 400px; display: flex;
                        align-items: center; justify-content: space-between;">
                    <label style="color: #3D464D; margin-right: 10px; flex: 1;">Cins:</label>
                    <div style="display: inline-block; margin-right: 15px; border: 1px solid #FFFFFF;
                            padding: 10px; cursor: pointer; flex: 1; border-radius: 5px;">
                        <input type="radio" id="genderMale" name="gender" value="MALE" checked/>
                        <label for="genderMale" style="margin: 0; cursor: pointer; color: #3D464D;">Kişi</label>
                    </div>
                    <div style="display: inline-block; border: 1px solid #FFFFFF; padding: 10px;
                            cursor: pointer; flex: 1; border-radius: 5px;">
                        <input type="radio" id="genderFemale" name="gender" value="FEMALE"/>
                        <label for="genderFemale" style="margin: 0; cursor: pointer; color: #3D464D;">Qadın</label>
                    </div>
                </div>
                <!-- Email Input -->
                <div style="margin-top: 20px; display: flex; justify-content: center;">
                    <input type="email" name="email" placeholder="E-mail" required
                           style="width: 405px; height: 40px; padding-left: 10px; outline: none;
                                   box-shadow: none; border: 1px solid #ccc; border-radius: 5px;"/>
                </div>
                <!-- Şifrə Input -->
                <div style="margin-top: 20px; display: flex; justify-content: center;">
                    <input type="password" name="password" placeholder="Şifrə" required
                           style="width: 405px; height: 40px; padding-left: 10px; outline: none;
                                   box-shadow: none; border: 1px solid #ccc; border-radius: 5px;"/>
                </div>
                <!-- Submit Button -->
                <button class="btn btn-outline-light btn-lg px-4" type="submit" style="margin-top: 20px;
                border-color: #3D464D; color: #3D464D; border-radius: 5px;">
                    Qeydiyyat
                </button>

                <div style="margin-top: 20px;">
                    <p class="mb-0" style="color: #3D464D;">Artıq hesabın var? <a href="/login" style="color: #50666A;">Daxil OL</a>
                    </p>
                </div>
            </div>
        </form>
    </div>

</section>

</body>
</html>