<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{admin/layout}"
        lang="en">
<head>
    <meta charset="UTF-8">
    <title>İstifadəçilər - Yenilə</title>
</head>
<body>

<section layout:fragment="content">

    <form method="post" style="margin-left: 50px;">
        <div style="margin: 10px 0;">
            <input type="text" name="name" th:value="${userById.name}" placeholder="User name"
                   style="width: 350px;" required>
        </div>
        <div style="margin: 10px 0;">
            <input type="text" name="surname" th:value="${userById.surname}" placeholder="User surname"
                   style="width: 350px;" required>
        </div>
        <div style="margin: 10px 0;">
            <input type="email" name="email" th:value="${userById.email}" placeholder="User email"
                   style="width: 350px;" required>
        </div>
        <div style="margin: 10px 0;">
            <input type="radio" name="gender" value="MALE" id="genderMale"
                   th:checked="${userById.gender == T(com.multishop.fusiontech.enums.Gender).MALE}"/>
            <label class="form-label" for="genderMale">Male</label>
            <input type="radio" name="gender" value="FEMALE" id="genderFemale"
                   th:checked="${userById.gender == T(com.multishop.fusiontech.enums.Gender).FEMALE}"/>
            <label class="form-label" for="genderFemale">Female</label>
        </div>
        <div style="margin: 10px 0;">
            <input type="text" name="image" th:value="${userById.image}" placeholder="User image url (optional)"
                   style="width: 350px;">
        </div>
        <div style="margin: 10px 0;">
            <input type="password" name="password" placeholder="Password (leave empty to keep current)"
                   style="width: 350px;">
        </div>
        <div style="margin: 10px 0;">
            <input type="submit" value="Update">
        </div>
    </form>

</section>

</body>
</html>