<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{admin/layout}"
        lang="en">
<head>
    <meta charset="UTF-8">
    <title>İstifadəçini Yenilə</title>
</head>
<body>

<section layout:fragment="content">

    <form method="post" enctype="multipart/form-data" style="margin-left: 70px; margin-right: 70px;">
        <!-- İki sütunlu bölmə -->
        <div style="display: flex; justify-content: space-between; width: 480px;">
            <!-- Sol sütun -->
            <div style="width: 65%; margin-right: 15px;">
                <div style="margin: 10px 0; margin-bottom: 10px;">
                    <input type="text" name="name" th:value="${userById.name}" placeholder="İstifadəçi adı" required
                           style="width: 100%; height: 40px; padding: 10px; outline: none;
                   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); border: 1px solid #ccc; border-radius: 5px;">
                </div>
                <div style="margin: 15px 0;">
                    <input type="text" name="surname" th:value="${userById.surname}" placeholder="İstifadəçi soyadı" required
                           style="width: 100%; height: 40px; padding: 10px; outline: none;
                   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); border: 1px solid #ccc; border-radius: 5px;">
                </div>
                <div style="margin: 15px 0;">
                    <label for="birthdate" style="display: block; margin-bottom: 1px; color: #3D464D; font-size: 14px;">Doğum
                        Tarixi:</label>
                    <input type="date" name="birthdate" th:value="${userById.birthdate}" id="birthdate" required
                           style="width: 100%; height: 40px; padding: 10px; outline: none;
                   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); border: 1px solid #ccc; border-radius: 5px;">
                </div>
            </div>

            <!-- Sağ sütun -->
            <div style="width: 35%; display: flex; flex-direction: column; align-items: center; overflow: hidden;">
                <!-- Şəkil önizləmə qutusu -->
                <div id="imageContainerUsUp"
                     style="border: 1px dashed #ccc; border-radius: 5px; width: 100%; height: 180px; margin: 10px 0;
                     display: flex; align-items: center; justify-content: center; position: relative; overflow: hidden; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);">
                    <img id="imageUsUp" th:src="${userById.image}" alt="Preview"
                         style="display: block; width: 100%; height: 100%; border-radius: 5px; object-fit: cover;">
                    <button type="button" id="addButtonUsUp" onclick="document.getElementById('imageInputUsUp').click()"
                            style="display: none; width: 80px; height: 80px; border: none; cursor: pointer; font-size: 14px;
                        color: #007bff; display: flex; flex-direction: column; align-items: center; justify-content: center;
                        transition: color 0.3s; outline: none; background: none; gap: 0px;"
                            onmouseover="this.style.color='#0056b3';"
                            onmouseout="this.style.color='#007bff';">
                        <span style="font-size: 50px; line-height: 0.8; vertical-align: middle; margin-top: -1px;">+</span>
                        <span>Şəkil Yüklə</span>
                    </button>
                    <button type="button" id="delButtonUsUp" onclick="delImageUsUp()"
                            style="display: block; position: absolute; top: 10px; right: 10px; background-color: #f00;
                            color: #fff; border: none; border-radius: 50%; width: 24px; height: 24px; cursor: pointer;">
                        ×
                    </button>
                </div>
                <input type="file" id="imageInputUsUp" name="imageFile" accept="image/*" style="display: none;"
                       onchange="imageAddUsUp(this)">
                <!-- Köhnə şəkil URL-ni saxlayan gizli input -->
                <input type="hidden" id="oldImageUsUp" name="image" th:value="${userById.image}">
            </div>
        </div>

        <!-- Alt bölmə -->
        <div style="margin-top: 5px; width: 480px;">
            <div style="margin: 10px 0;">
                <div style="margin-top: 10px; width: 100%; display: flex;
                        align-items: center; justify-content: space-between;">
                    <label style="color: #3D464D; margin-right: 10px; flex: 1;">Cins:</label>
                    <div style="display: inline-block; margin-right: 15px; border: 1px solid #ccc;
                            padding: 8px; cursor: pointer; flex: 1; border-radius: 5px;">
                        <input type="radio" name="gender" value="MALE" id="genderMale"
                               th:checked="${userById.gender == T(com.multishop.fusiontech.enums.Gender).MALE}"/>
                        <label class="form-label" for="genderMale" style="margin: 0; cursor: pointer; color: #3D464D;">Kişi</label>
                    </div>
                    <div style="display: inline-block; border: 1px solid #ccc; padding: 8px;
                            cursor: pointer; flex: 1; border-radius: 5px;">
                        <input type="radio" name="gender" value="FEMALE" id="genderFemale"
                               th:checked="${userById.gender == T(com.multishop.fusiontech.enums.Gender).FEMALE}"/>
                        <label class="form-label" for="genderFemale"
                               style="margin: 0; cursor: pointer; color: #3D464D;">Qadın</label>
                    </div>
                </div>
            </div>
            <div style="margin: 15px 0;">
                <input type="email" name="email" th:value="${userById.email}" placeholder="İstifadəçi e-poçtu" required
                       style="width: 100%; height: 40px; padding: 10px; outline: none;
                   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); border: 1px solid #ccc; border-radius: 5px;">
            </div>
            <div style="margin: 15px 0;">
                <input type="password" name="password" placeholder="Şifrə (əvvəlkini saxlamaq üçün boş qoyun)"
                       style="width: 100%; height: 40px; padding: 10px; outline: none;
                   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); border: 1px solid #ccc; border-radius: 5px;">
            </div>
        </div>

        <div style="margin: 10px 0; margin-top: 30px;">
            <input type="submit" value="Saxla" class="btn btn-primary py-2 px-4"
                   style="color: #3D464D; background-color: #FFD333; border-color: #FFD333;"
                   onmouseover="this.style.backgroundColor='#FFC107'; this.style.borderColor='#FFC107';"
                   onmouseout="this.style.backgroundColor='#FFD333'; this.style.borderColor='#FFD333';">
        </div>
    </form>

</section>

</body>
</html>