<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{admin/layout}"
        lang="en">
<head>
    <meta charset="UTF-8">
    <title>Brendlər</title>
</head>
<body>

<section layout:fragment="content">

    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="brand : ${brands}">
            <th th:text="${brand.id}" scope="row">1</th>
            <td th:text="${brand.name}">Mark</td>
            <td>
                <a th:href="'/admin/brand/update/' + ${brand.id}">Update</a>
                <a th:href="'/admin/brand/delete/' + ${brand.id}">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>

    <a href="/admin/brand/create">Create new brand</a>

</section>

</body>
</html>