<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{admin/layout}"
        lang="en">
<head>
    <meta charset="UTF-8">
    <title>Brendlər - Yenilə</title>
</head>
<body>

<section layout:fragment="content">

    <form method="post" style="margin-left: 50px;">
        <div style="margin: 10px 0;">
            <input type="text" name="name" th:value="${brand.name}" placeholder="Brand name"
                   style="width: 350px;">
        </div>
        <div style="margin: 10px 0;">
            <input type="submit" value="Update">
        </div>
    </form>

</section>

</body>
</html>