<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}"
        lang="en">

<head>
    <title>Korporativ Satışlar</title>
</head>

<body>

<section layout:fragment="content">


    <!-- Breadcrumb Start -->
    <div class="container-fluid">
        <div class="row px-xl-5">
            <div class="col-12">
                <nav class="breadcrumb bg-light mb-30">
                    <a class="breadcrumb-item text-dark" href="/">Əsas</a>
                    <span class="breadcrumb-item active">Korporativ Satışlar</span>
                </nav>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->


    <!-- Corporate Start -->
    <div class="container-fluid">
        <h2 class="section-title position-relative text-uppercase mx-xl-5 mb-4">
            <span class="bg-secondary pr-3">Korporativ Satışlar</span>
        </h2>
        <div class="row px-xl-5">
            <div class="col-12 mb-5">
                <div class="contact-form bg-light p-30">
                    <div class="control-group">
                        <div class="control-group">
                            <p>FusionTech – müxtəlif növ yüksək keyfiyyətli rəqəmsal və məişət texnikasının, həmçinin mebellərin pərakəndə satışını həyata keçirməklə yanaşı korporativ müştərilərlə əməkdaşlığa xüsusi diqqət yetirir. Hal-hazırda 2000-dən çox korporativ müştəri sayı ilə nəinki Azərbaycan bazarında, hətta Qafqazda da qısa müddət ərzində lider mövqelərdən birini tutmağı bacarıb.</p>
                            <p>Korporativ sahədə fərdi yanaşma prinsipi ilə hərəkət edən Kontakt-ın partnyor şirkətlər üçün eksklüziv şərtlərlə əməkdaşlıq  təklifləri aşağıdakı kimidir:</p>
                            <p style="margin-top: 0; margin-bottom: 5px;">»» Əməkdaşlıq etdiyimiz şirkətlər üçün xüsusi endirimli qiymətlər;</p>
                            <p style="margin-top: 0; margin-bottom: 5px;">»» Korporativ müştərilərə kreditlə satış xidməti;</p>
                            <p style="margin-top: 0; margin-bottom: 5px;">»» Əməkdaşlıq müddətində ödənişlərini köçürmə yolu ilə edə bilmək imkanı;</p>
                            <p style="margin-top: 0; margin-bottom: 5px;">»» Telefon, notbuk, kondisioner, mikrodalğalı soba və bu kimi digər elektrotexnika vasitələrinin təmini;</p>
                            <p style="margin-top: 0; margin-bottom: 5px;">»» Dispenser, printer və bu kimi ofis avadanlıqlarını əldə etmək imkanı;</p>
                            <p style="margin-top: 0;">»» Saytımızda əks olunan məhsullarla yanaşı, orada mövcud olmayan məhsulları belə öncədən sifarişlə əldə edə bilmə imkanı.</p>
                            <p>Bizimlə əməkdaşlıq etmək üçün aşağıdakı əlaqə vasitələrindən sizə uyğun olanını seçə bilərsiniz:</p>
                            <p style="margin-bottom: 5px;">»» Aşağıdaki nömrələr ilə əlaqə saxlamaqla:</p>
                            <p style="margin-top: 0; margin-bottom: 5px;">+994512505089</p>
                            <p style="margin-top: 0; margin-bottom: 5px;">+994512053262</p>
                            <p style="margin-top: 0;">+994512505095</p>
                            <p>»» Poçt ünvanımıza yazmaqla: corporate-sales@abc-telecom.az</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Corporate End -->


</section>

</body>
</html>