<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}"
        lang="en">

<head>
    <title>Hissəli Ödəniş</title>
</head>

<body>

<section layout:fragment="content">


    <!-- Breadcrumb Start -->
    <div class="container-fluid">
        <div class="row px-xl-5">
            <div class="col-12">
                <nav class="breadcrumb bg-light mb-30">
                    <a class="breadcrumb-item text-dark" href="/">Əsas</a>
                    <span class="breadcrumb-item active">Hissəli Ödəniş</span>
                </nav>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->


    <!-- Installment Start -->
    <div class="container-fluid">
        <h2 class="section-title position-relative text-uppercase mx-xl-5 mb-4">
            <span class="bg-secondary pr-3">Hissə-hissə ödəniş şərtləri</span>
        </h2>
        <div class="row px-xl-5">
            <div class="col-12 mb-5">
                <div class="contact-form bg-light p-30">
                    <div class="control-group">
                        <h6 style="color: #8B4513; margin-bottom: 5px;">Ödəniş valyutası</h6>
                        <p style="margin-top: 0;">Manat</p>
                    </div>
                    <div class="control-group">
                        <h6 style="color: #8B4513; margin-bottom: 5px;">Müştərinin yaşı</h6>
                        <p style="margin-top: 0;">18 yaşına çatmış Azərbaycan Respublikasının vətəndaşı</p>
                    </div>
                    <div class="control-group">
                        <h6 style="color: #8B4513; margin-bottom: 5px;">Tələb edilən sənədlər</h6>
                        <p style="margin-top: 0;">Yalnız şəxsiyyət vəsiqəsi. Şəxsiyyət vəsiqəsi təqdim edə bilməyən
                            dövlət qulluqçuları (hərbçilər və s.) şəxsiyyət vəsiqəsini əvəz edən sənədi təqdim etməklə
                            hissə-hissə ödənişlə məhsul əldə edə bilər.</p>
                    </div>
                    <div class="control-group">
                        <h6 style="color: #8B4513; margin-bottom: 5px;">Qeydiyyatı</h6>
                        <p style="margin-top: 0;">Azərbaycan Respublikası</p>
                    </div>
                    <div class="control-group">
                        <h6 style="color: #8B4513; margin-bottom: 5px;">Yaşayış yeri</h6>
                        <p style="margin-top: 0;">Azərbaycan Respublikası</p>
                    </div>
                    <div class="control-group">
                        <h6 style="color: #8B4513; margin-bottom: 5px;">Təkrar müştərilərə güzəştli hissə-hissə ödəniş
                            şərtləri</h6>
                        <p style="margin-top: 0;">Kontakt Home mağazaları təkrar müştərilərinə güzəştli xidmət haqqı,
                            ilkin ödənişsiz, güzəştli hissə-hissə ödənişlə məhsul almağı təklif edir. Əvvəlki alışları
                            zamanı gecikmələri olmayan sadiq müştərilərimiz Kontakt Home mağazalarından hissə-hissə
                            ödənişlə aldıqları məhsulları ilkin ödənişsiz əldə edə bilərlər. Hər zaman təkrar
                            müştərilərinə dəyər verən Kontakt Home mağazaları onlara sərfəli şərtlərlə geniş çeşiddə və
                            müxtəlif brendlərdən olan məhsulları təklif etməyə davam edir.</p>
                    </div>
                    <div class="control-group">
                        <h6 style="color: #8B4513; margin-bottom: 5px;">Tələbələrə hissə-hissə ödəniş şərtləri</h6>
                        <p style="margin-top: 0;">Kontakt Home tələbə vətəndaşlarımızı da yaddan çıxarmır və onlar üçün
                            rahat hissə-hissə ödəniş şərtləri təklif edir. Tələbə biletini və şəxsiyyət vəsiqəsini
                            təqdim edən şəxs tələbələr üçün nəzərdə tutulmuş hissə-hissə ödəniş şərtindən yararlana
                            bilər. Tələbənin Bakı və ya rayon qeydiyyatında olmasının heç bir önəmi yoxdur. Tələbə
                            hissə-hissə ödəniş şərti 1, 2, 3-cü kurs tələbələrinə (həmçinin Tibb Universitetinin 4 və
                            5-ci kurslarına) şamil olunur.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Installment End -->


</section>

</body>
</html>