<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}"
        lang="en">

<head>
    <title>Qiymət Siyasəti</title>
</head>

<body>

<section layout:fragment="content">


    <!-- Breadcrumb Start -->
    <div class="container-fluid">
        <div class="row px-xl-5">
            <div class="col-12">
                <nav class="breadcrumb bg-light mb-30">
                    <a class="breadcrumb-item text-dark" href="/">Əsas</a>
                    <span class="breadcrumb-item active">Qiymət Siyasəti</span>
                </nav>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->


    <!-- Price Policy Start -->
    <div class="container-fluid">
        <h2 class="section-title position-relative text-uppercase mx-xl-5 mb-4">
            <span class="bg-secondary pr-3">Qiymət Siyasəti</span>
        </h2>
        <div class="row px-xl-5">
            <div class="col-12 mb-5">
                <div class="contact-form bg-light p-30">
                    <div class="control-group">
                        <h4 style="color: #8B4513; margin-bottom: 20px;">Sayt və mağazalarda apardığımız qiymət siyasəti</h4>
                    </div>
                    <div class="control-group">
                        <h6 style="color: #8B4513; margin-bottom: 5px;">1. Xüsusi kampaniyalar</h6>
                        <p style="margin-top: 0;">Bəzi təkliflər yalnız mağazalarımıza, bəziləri isə yalnız saytımıza şamil oluna bilər. Belə hallarda mağaza və sayt arasında fərq mövcud ola bilər.</p>
                    </div>
                    <div class="control-group">
                        <h6 style="color: #8B4513; margin-bottom: 5px;">2. Coğrafi fərqliliklər</h6>
                        <p style="margin-top: 0;">Müxtəlif bölgələrdəki mağazalarımızda qiymətlər iqtisadi şərtlərə və logistika xərclərinə görə dəyişə bilər.</p>
                    </div>
                    <div class="control-group">
                        <h6 style="color: #8B4513; margin-bottom: 5px;">3. Xüsusi endirimlər</h6>
                        <p style="margin-top: 0;">Müəyyən mağazalarda xüsusi endirimlər ola bilər. Bu da digər mağazalar və saytla müqayisədə qiymət müxtəlifliyinə gətirib çıxara bilir.</p>
                    </div>
                    <div class="control-group">
                        <h6 style="color: #8B4513; margin-bottom: 5px;">4. Stok fərqi</h6>
                        <p style="margin-top: 0;">Stok vəziyyətinə görə mağaza və sayt qiymətləri fərqli ola bilər.</p>
                    </div>
                    <div class="control-group">
                        <h6 style="color: #8B4513; margin-bottom: 5px;">5. Sistem yenilənmələri</h6>
                        <p style="margin-top: 0;">Texniki yenilənmələr zamanı müvəqqəti qiymət fərqləri yarana bilər. Bu fərq yenilənmə başa çatdıqdan sonra qısa müddət ərzində aradan qaldırılır.</p>
                    </div>
                    <div class="control-group">
                        <h6 style="color: #8B4513; margin-bottom: 5px;">6. Ən yaxşı qiymətə zəmanət</h6>
                        <p style="margin-top: 0;">Əgər başqa bir mağazada (FusionTech-ə məxsus olmayan) daha aşağı qiymət tapsan, fərqin 120%-ni geri ödəyirik.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Price Policy End -->


</section>

</body>
</html>