<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}"
        lang="en">

<head>
    <title>Geri Qaytarma</title>
</head>

<body>

<section layout:fragment="content">


    <!-- Breadcrumb Start -->
    <div class="container-fluid">
        <div class="row px-xl-5">
            <div class="col-12">
                <nav class="breadcrumb bg-light mb-30">
                    <a class="breadcrumb-item text-dark" href="/">Əsas</a>
                    <span class="breadcrumb-item active">Geri Qaytarma</span>
                </nav>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->


    <!-- Refund Start -->
    <div class="container-fluid">
        <h2 class="section-title position-relative text-uppercase mx-xl-5 mb-4">
            <span class="bg-secondary pr-3">Geri Qaytarma Siyasəti</span>
        </h2>
        <div class="row px-xl-5">
            <div class="col-12 mb-5">
                <div class="contact-form bg-light p-30">
                    <div class="control-group">
                        <h6 style="color: #8B4513; margin-bottom: 5px;">İstifadə olunan terminlər və anlayışlar</h6>
                        <p style="margin-top: 0;">Bu Qaydalarda istifadə olunan terminlər aşağıdakı mənaları ifadə edir:
                            1. “ABC-Telecom” MMC və/və ya Şirkət/Satıcı – “ABC-Telecom” Məhdud Məsuliyyətli Cəmiyyəti
                            (VÖEN: 1401005061, Hüquqi ünvan: AZ1141, Bakı, Yasamal rayonu, Ş.Mehdiyev küç., 138. Faktiki
                            ünvan: Bakı, Binəqədi rayonu, S.S. Axundov küç., 3G, Red Plaza).
                            2. Veb-sayt - ABC-Telecom MMC-yə məxsus Kontakt Home mağazalar şəbəkəsinin kontakt.az saytı.
                            3. Alıcı, satıcı tərəfindən yerləşdirilən elanlara baxan, satıcı ilə əlaqə quran və/və ya
                            onunla malların alınması ilə bağlı müqavilə bağlayan şəxs və ya təşkilatdır.</p>
                    </div>
                    <div class="control-group">
                        <h6 style="color: #8B4513; margin-bottom: 5px;">Malların qaytarılması</h6>
                        <p style="margin-top: 0;">Veb-sayt “İstehlakçıların hüquqlarının müdafiəsi haqqında” Qanununa
                            uyğun olaraq fəaliyyət göstərir. “İstehlakçıların hüquqlarının müdafiəsi haqqında” Qanunun
                            7-ci maddəsinə uyğun olaraq, qüsurlu malı zəmanət müddəti ərzində, həmçinin, sözügedən
                            qanunun 15-ci maddəsinə əsasən keyfiyyətli malı, alındığı günü nəzərə almadan 14 gün ərzində
                            qaytara və ya dəyişdirə bilərsiniz:</p>
                    </div>
                    <div class="control-group">
                        <h6 style="color: #8B4513; margin-bottom: 5px;">Qaytarma proseduru</h6>
                        <p style="margin-top: 0;">1. Alıcı göstərilən tələblə *6060 qaynar xəttinə müraciət edir və malı
                            qaytarmaq niyyəti barədə məlumat verir.
                            2. Alıcı operatorun göstərişinə uyğun olaraq istənilən “Kontakt” mağazasına gedib mağazadakı
                            məsləhətçiyə niyyətini bildirə bilər.
                            3. Alıcının mal üçün ödədiyi məbləğin geri qaytarılması mağazada texniki ekspert tərəfindən
                            malın qiymətləndirilməsindən sonra həyata keçirilir.
                            4. Ekspertizanı yerində keçirmək mümkün olmadıqda, mallar ekspertizanın aparılması üçün
                            servisa göndərilir.
                            5. Alıcı tərəfindən geri qaytarılan məhsulun və ya məhsulların yuxarıda göstərilən geri
                            qaytarma şərtlərinin hamısına cavab verdiyi müəyyən edildikdən sonra, alıcıya çatdırılma
                            xərcləri daxil olmaqla bütün pul tam ödəniləcəkdir.
                            6. İstifadəçi fərqli ödəniş metodundan istifadə etməyə açıq şəkildə razılıq vermədiyi halda,
                            geri qaytarmalar Alıcının qaytarılmış məhsulları almaq üçün istifadə etdiyi eyni ödəniş
                            üsulu ilə həyata keçiriləcək.
                            7. Sifariş blankına daxil edilmiş malların alıcısı və bu malların pulunu ödəmiş şəxs iki
                            fərqli şəxs olduqda və müqaviləyə xitam verildikdə, sifariş üçün ödəniş edən şəxsə pul geri
                            qaytarılacaqdır.
                            8. Məhsul geri qaytarma şərtlərinə uyğun gəlmirsə, Alıcıya məhsulun/məhsulların geri
                            qaytarılmaması barədə məlumat verilir. Bu halda, alıcı malların satıcıya qaytarıldığı zaman
                            olduğu vəziyyətdə onun hesabına qaytarılmasını tələb edə bilər; Satıcıya məlumat
                            verilməlidir. Əks halda, alıcı satıcıdan malların satıcıya qaytarıldığı vəziyyətdə
                            qaytarılmasını tələb etməzsə və göndərmə xərclərini əvvəlcədən ödəməzsə və ya sözügedən malı
                            almazsa, bu cür hərəkətsizlik slıcının malın mülkiyyətindən imtina etməsini təşkil edəcək və
                            satıcıya öz mülahizəsinə uyğun olaraq onlara sərəncam vermək hüququnu verir.</p>
                    </div>
                    <div class="control-group">
                        <h6 style="color: #8B4513; margin-bottom: 5px;">Xidmətlərin qaytarılması</h6>
                        <p style="margin-top: 0;">1. Məhsulda istehsal qüsuru aşkar edilərsə və məhsul geri
                            qaytarılarsa, xidmət də geri qaytarıla bilər;
                            2. Məhsul dəyişdirilərkən xidmət köhnə cihazdan yenisinə keçirilir;
                            3. Məhsul başqa kateqoriyadan olan məhsulla əvəz olunarsa, xidmətin pulu geri qaytarılmır;
                            4. Geri qaytarılan mallarda qüsur aşkar edilmədikdə, əvvəllər göstərilmiş xidmətlərə görə
                            məbləğ ödənilməyəcək;
                            5. Ödənişli zəmanət (sığorta) istisna olmaqla, faktiki icra edilmiş heç bir xidmət geri
                            qaytarılmır.
                            6. Əgər xidmət göstərilibsə, məhsulun deyil, yalnız xidmətin geri qaytarılması tələb
                            olunur.</p>
                    </div>
                    <div class="control-group">
                        <h6 style="color: #8B4513; margin-bottom: 5px;">Əlavə şərtlər</h6>
                        <p style="margin-top: 0;">Əgər məhsul nağdsız ödəniş yolu ilə alınıbsa, mağaza müştərisi alıcı
                            olan banka geri qaytarma sorğusu göndərir. Məbləğ bank tərəfindən 14 təqvim günü ərzində
                            qaytarılır. Qaytarma və dəyişdirmə şərtləri ilə bağlı hər hansı sualınız olarsa, Life chat,
                            sosial şəbəkələr, *6060 Zəng Mərkəzi, +994(50) 828-60-60 WhatsApp nömrəsi ilə əlaqə saxlaya
                            və ya sizə ən yaxın olan Kontakt mağazası ilə əlaqə saxlaya bilərsiniz.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Refund End -->


</section>

</body>
</html>