<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}"
        lang="en">

<head>
    <title>Saytdan İstifadə</title>
</head>

<body>

<section layout:fragment="content">


    <!-- Breadcrumb Start -->
    <div class="container-fluid">
        <div class="row px-xl-5">
            <div class="col-12">
                <nav class="breadcrumb bg-light mb-30">
                    <a class="breadcrumb-item text-dark" href="/">Əsas</a>
                    <span class="breadcrumb-item active">Saytdan İstifadə</span>
                </nav>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->


    <!-- Site Rules Start -->
    <div class="container-fluid">
        <h2 class="section-title position-relative text-uppercase mx-xl-5 mb-4">
            <span class="bg-secondary pr-3">Saytdan istifadə şərtləri</span>
        </h2>
        <div class="row px-xl-5">
            <div class="col-12 mb-5">
                <div class="contact-form bg-light p-30">
                    <div class="control-group">
                        <div class="control-group">
                            <p>Diqqət! Xahiş olunur, <a style="color: #C68919;" href="/">www.fusiontech.az</a> (bundan
                                sonra “Veb-sayt”) istifadə etməzdən öncə “Saytdan İstifadə Qaydaları” (bundan sonra
                                ismin müvafiq halında “Qaydalar”) ilə ətraflı tanış olun. Əgər şərtlərlə razı
                                deyilsinizsə, bu halda könüllü Veb-saytı tərk edə bilərsiniz. Əks halda Veb-saytdakı
                                ziyarətiniz və edəcəyiniz hər bir hərəkət Qaydalardakı şərtlərlə bütünlüklə razı
                                olduğunuz anlamına gələcək. Bu Veb-sayt, müəllif hüquqları və əmtəə nişanları ilə
                                qorunur.</p>
                        </div>
                        <h6 style="color: #8B4513; margin-bottom: 5px;">1. İstifadə olunan terminlər və anlayışlar</h6>
                        <p style="margin-top: 0; margin-bottom: 5px;">Bu İstifadə Qaydalarında işlədilən terminlər
                            aşağıdakı mənaya malikdir: “ABC-Telecom” MMC və/ və ya Şirkət/ Satıcı – “ABC-Telecom” Məhdud
                            Məsuliyyətli Cəmiyyəti (VÖEN: 1401005061, Hüquqi ünvanı: AZ1141, Bakı şəhəri, Yasamal
                            rayonu, Ş.Mehdiyev küçəsi 138. Faktiki ünvanı: Bakı şəhəri, Binəqədi rayonu, S.S.Axundov
                            küç. 3A, Red Plaza).</p>
                        <p style="margin-top: 0; margin-bottom: 5px;">Sayt - “ABC-Telecom” MMC-yə məxsus Kontakt Home
                            mağazalar şəbəkəsinə aid kontakt.az saytı.</p>
                        <p style="margin-top: 0; margin-bottom: 5px;">İstifadəçi – Sayta daxil olan və bu Qaydalarda
                            göstərilən şərtlərdə istifadə etməyə davam edən yetkinlik yaşına çatmış, fəaliyyət
                            qabiliyyətli şəxs.</p>
                        <p style="margin-top: 0; margin-bottom: 5px;">İstifadəçi razılaşması – bu razılaşma, reklamların
                            yerləşdirilmə Qaydaları və kontakt.az saytının işini tənzimləyən və ya Veb-saytda qeyd
                            olunmuş Xidmətlərdən istifadə qaydalarını müəyyənləşdirən digər qaydalar və sənədlər.</p>
                        <p style="margin-top: 0; margin-bottom: 5px;">Xidmətlər – <a style="color: #C68919;" href="/">www.fusiontech.az</a>
                            saytının istifadəçiləri üçün sərfəli funksional imkanlar, qulluq, xidmətlər, vasitələr.</p>
                        <p style="margin-top: 0; margin-bottom: 5px;">Mal/ Məhsul – Saytda barəsində məlumat
                            yerləşdirilmiş rəqəmsal, kompüter, məişət və digər texniki avadanlıqlar, məişət malları,
                            digər mallar, proqram təminatı, aksesuarlar və əşyaya aid digər ləvazimatlar.</p>
                        <p style="margin-top: 0; margin-bottom: 5px;">Elan – mal barədə (əlaqə məlumatları, fotoşəkillər
                            və hər hansı müvafiq bir məlumat da daxil olmaqla) təklif ilə əlaqədar kontakt.az saytında
                            yerləşdirilən, qeyri-müəyyən şəxslər dairəsinə ünvanlanan məlumat.</p>
                        <p style="margin-top: 0; margin-bottom: 5px;">Oferta – İstifadəçinin Saytda yerləşdirilmiş
                            mallar / işlər / xidmətlər siyahılarından seçdiyi məhsulu “səbətə” əlavə edərək, sifariş
                            vermək üçün lazım olan məlumatları daxil edərək “sifariş ver” düyməsini basması (bundan
                            sonra – sifarişin rəsmiləşdirilməsi).</p>
                        <p style="margin-top: 0; margin-bottom: 5px;">Çağrı Mərkəzi – “Qaynar xətt” vasitəsilə
                            İstifadəçilərlə əlaqə saxlayan mütəxəssislər.</p>
                        <p style="margin-top: 0; margin-bottom: 5px;">Alıcı – Satıcı tərəfindən yerləşdirilən elanlara
                            baxan, mallarla əlaqədar Satıcı ilə qarşılıqlı əlaqədə olan və / və ya Satıcı ilə müqavilə
                            bağlayan bir İstifadəçi.</p>
                        <p style="margin-top: 0; margin-bottom: 5px;">Sayta giriş məlumatları – saytda qeydiyyatdan
                            keçərkən İstifadəçi tərəfindən müstəqil olaraq yaradılmış və ya daha sonra İstifadəçi
                            tərəfindən Şəxsi kabinet vasitəsilə və ya “ABC-Telecom” MMC tərəfindən müəyyən edilmiş başqa
                            bir üsulla dəyişdirilmiş və Kontakt.az saytında qeydiyyatdan keçdikdən sonra İstifadəçinin
                            Şəxsi kabinetinə giriş üçün istifadə olunan unikal giriş (elektron poçt ünvanı) və
                            şifrə.</p>
                        <p style="margin-top: 0; margin-bottom: 5px;">Şəxsi Kabinet – İstifadəçinin kontakt.az
                            saytındakı İstifadəçi hesabı ilə əlaqədar saytda “ABC-Telecom” MMC tərəfindən təklif olunan
                            şərtlər daxilində təqdim olunan fərdi xidmətləri, həmçinin öz sifariş(lər)ini, sayta
                            qoşulmağı/ çıxmağı idarə edə biləcəyi şəxsi bölməsi.</p>
                        <p style="margin-top: 0; margin-bottom: 5px;">Qeydiyyat – İstifadəçinin kontakt.az istifadəçi
                            interfeysinin xüsusi formasından istifadə edərək Şəxsi Kabinet yaratmaq və kontakt.az
                            saytının fərdi xidmətlərinə giriş imkanını əldə etmək üçün sayta giriş məlumatlarını və
                            digər məlumatları təqdim etməsi də daxil olmaqla kontakt.az saytının təlimatlarına uyğun
                            olaraq etdiyi bir sıra hərəkətlərdir.</p>
                        <p style="margin-top: 0; margin-bottom: 5px;">İstifadəçi məlumatları – İstifadəçi tərəfindən
                            kontakt.az saytından istifadə ilə əlaqədar “ABC-Telecom” MMC-yə verilən hər hansı bir
                            material və məlumatlar.</p>
                        <p style="margin-top: 0;">Qanunvericilik – Bu istifadə qaydalarında nəzərdə tutulmuş
                            öhdəliklərin icrası ilə əlaqəli və / və ya bu öhdəliklərin yerinə yetirilməsindən irəli
                            gələn hüquq münasibətlərinin tənzimlənməsinə tətbiq edilən Azərbaycan Respublikasının
                            qüvvədə olan qanunvericiliyi.</p>
                    </div>
                    <div class="control-group">
                        <h6 style="color: #8B4513; margin-bottom: 5px;">2. Ümumi müddəalar.</h6>
                        <p style="margin-top: 0; margin-bottom: 5px;">2.1. İstifadəçinin Saytda qeydiyyatdan keçməsi və
                            avtorizasiya edilməsi faktından asılı olmayaraq Saytdan istifadə, o cümlədən Saytda
                            yerləşdirilmiş məlumatlara baxmaq, İstifadəçinin bu İstifadə Qaydaları ilə razılaşdığını və
                            Xidmətlərdən istifadə qaydalarına riayət etməsini, həmçinin Saytın istifadəsi ilə əlaqədar
                            öz hərəkətlərinə görə məsuliyyət daşımağı öhdəsinə götürdüyünü bildirir.</p>
                        <p style="margin-top: 0; margin-bottom: 5px;">2.2. Bu İstifadə Qaydalarına əsasən belə qəbul
                            olunur ki, şəxs (İstifadəçi) tərəfindən saytda edilən hərəkətlər, o cümlədən oferta,
                            malların alqı-satqısı, işlərin və xidmətlərin göstərilməsi ilə əlaqədar hərəkətlər həmin
                            şəxsin (İstifadəçinin) sahibkarlıq fəaliyyəti ilə əlaqədar olmayan məqsədlər üçün edilir və
                            gələcəkdə onun “ABC-Telecom” MMC-dən fiziki şəxslər üçün nəzərdə tutulmayan hər hansı
                            sənədləri tələb etmək hüququ yaranmır. Hər hansı hüquqi şəxsin və ya fərdi sahibkar olan
                            fiziki şəxsin müraciəti olarsa, onunla bütün ilkin sənədlərin rəsmiləşdirilməsinə və ödəniş
                            tapşırıqlarının icrasına imkan verən ayrıca alqı-satqı müqaviləsi (sadələşdirilmiş şəkildə
                            digər üsul da ola bilər) bağlanılır. Bu cür müqavilələrin bağlanılması qaydası Azərbaycan
                            Respublikasının mülki qanunvericiliyi ilə tənzimlənir.</p>
                        <p style="margin-top: 0; margin-bottom: 5px;">2.3. Şəxs (İstifadəçi) Kontakt.az saytına daxil
                            olaraq və bununla da İstifadəçi Razılaşmasını bağlamış olaraq təminat verir ki, o,
                            İstifadəçi Razılaşmasının bağlanılması və icrası üçün lazım olan bütün hüquq və
                            səlahiyyətlərə malikdir, o cümlədən yetkinlik yaşına çatmış və tam fəaliyyət qabiliyyətli
                            bir şəxsdir və ya müvafiq orqanın qərarı ilə emansipasiya qaydasında tam fəaliyyət
                            qabiliyyətli elan edilmiş şəxsdir, yaxud İstifadəçi Razılaşması bağlamaq üçün
                            valideynlərindən və ya digər qanuni nümayəndələrindən qanuni formada yazılı razılıq almış on
                            dörd yaşına çatmış yetkinlik yaşına çatmayan şəxsdir. “ABC-Telecom” MMC istənilən vaxt
                            İstifadəçidən yuxarıda göstərilən kimi hüquq və səlahiyyətləri təsdiqləyən məlumat və
                            sənədlərin təqdim edilməsini tələb etmək hüququna malikdir.</p>
                        <p style="margin-top: 0; margin-bottom: 5px;">2.4. Kontakt.az saytında təqdim olunan xidmətlər
                            İstifadəçiyə öncədən xəbərdarlıq edilmədən istənilən vaxt dəyişdirilə, əlavə oluna,
                            yenilənə, funksional imkanlarının formasını və xarakterini dəyişə bilər, bununla əlaqədar
                            olaraq xidmətlərin istifadəsi “olduğu kimi” rejimində, yəni İstifadəçilərinin xidmətlərə
                            müraciət etdiyi zaman “ABC-Telecom” MMC tərəfindən təqdim edilən formada və həcmdə təklif
                            olunur. Zərurət yaranarsa, “ABC-Telecom” MMC öz mülahizəsinə əsasən bütün istifadəçilərə və
                            ya fərdi qaydada hər hansı bir İstifadəçiyə Xidmətlərin (və ya Xidmətlər daxilindəki hər
                            hansı ayrı-ayrı funksiyaların) təqdim edilməsinə əvvəlcədən xəbərdarlıq etmədən xitam vermək
                            (müvəqqəti və ya daimi olaraq) hüququna malikdir.</p>
                        <p style="margin-top: 0; margin-bottom: 5px;">2.5. Şirkət Saytda yerləşdirilmiş malların
                            təsvirinin, həmçinin Saytda göstərilən qiymətlərin dəyişə biləcəyini bildirir. Son qiymət,
                            İstifadəçinin ofertasına (sifarişin təsdiqlənməsinə) cavab olaraq göndərilən Şirkətin
                            akseptində göstərilən qiymətdir. Saytda olan məhsul haqqında yerləşdirilmiş hər hansı bir
                            məlumat, məhsulun istehsalçısı tərəfindən verilmiş texniki və digər məlumatlar əsasında
                            yerləşdirilir. Məhsul haqqında Saytda və istehsalçının sənədlərində göstərilən məlumatlar
                            arasında uyğunsuzluqlar olduqda, İstifadəçi malların istehsalçısının sənədlərində qeyd
                            olunan məlumatları rəhbər tutmalıdır. Şirkət İstifadəçilərə əvvəlcədən xəbərdarlıq etmədən
                            istənilən vaxt Saytda yerləşdirilmiş məlumatlara dəyişiklik etmək hüququna malikdir.</p>
                        <p style="margin-top: 0; margin-bottom: 5px;">2.6. İstifadəçi oferta verərkən (sifarişi
                            rəsmiləşdirərkən) qeyd edilən məlumatların düzgünlüyünə cavabdehlik daşıyır. Eyni zamanda,
                            İstifadəçi avtomatik olaraq Şirkətə İstifadəçinin ofertasının qəbulu (aksepti) nəticəsində
                            məlum olmuş və ya məlum ola biləcək şəxsi məlumatlarını işləmək üçün razılıq verir.
                            Məlumatların işlənilməsi özündə Şəxsi məlumatların verilənlər bazasını saxlamaq üçün fərdi
                            məlumatların toplanması, qeydiyyatı, yığılması, saxlanması, uyğunlaşdırılması,
                            dəyişdirilməsi, yenilənməsi, istifadəsi və paylanması (köçürülmə daxil olmaqla),
                            ümumiləşdirilməsi, fərdi məlumatların silinməsi və bunlarla məhdudlaşmadan digər
                            əməliyyatların aparılmasını özündə ehtiva edir. Həmçinin Şirkət ona təqdim edilən və ya ona
                            məlum olan əlaqə vasitələrindən istifadə edərək İstifadəçinin malların/işlərin/xidmətlərin
                            keyfiyyəti ilə bağlı rəylərini öyrənmək, İstifadəçini reklam və marketinq xarakterli
                            tədbirlərdə iştiraka dəvət etmək, İstifadəçinin müraciət(lər)i, saytda etdiyi axtarışlar
                            nəticəsində Şirkətə məlum olan və ya təqdim edilən məlumatlar əsasında İstifadəçini
                            kampaniyalar, təkliflər, reklam materialları, Şirkətin fəaliyyəti ilə bağlı məlumatlandırmaq
                            (sms və s. üsullarla) hüququ əldə etmiş olur.</p>
                        <p style="margin-top: 0;">İstifadəçi, onun şəxsi məlumatlarının ötürülməsi üçün Şirkət
                            tərəfindən əlavə razılıq alınmaması ilə razılaşır, İstifadəçininrazılığını almaq üçün başqa
                            formalar təmin edilmir. İstifadəçi marketinq xarakterli mesajlardan və digər bu tipli
                            göndərişlərdən çıxarılmaq hüququna malikdir, Sms-ləri deaktiv etmək üçün mobil operatorlar
                            növbəti qısa nömrələr təqdim edir: Bakcell – 5595 Stop, Azercell- 5010 Stop, Nar – 9806
                            Dayan. Bu nömrələrin birinə uyğun sözü yazıb, abunəlikdən çıxmaq yolu ilə marketinq
                            xarakterli mesajlardan və digər bu tipli göndərişlərdən çıxarılır.
                            İstifadəçinin şəxsi məlumatların işlənməsinə razılıq verməkdən imtina etmək hüququ vardır,
                            bununla belə Şirkətin bu məlumatları vergi və digər qüvvədə olan qanunvericiliyin tələbləri
                            çərçivəsində saxlayacağını nəzərə alır.</p>
                    </div>
                    <div class="control-group">
                        <h6 style="color: #8B4513; margin-bottom: 5px;">3. Saytda qeydiyyat</h6>
                        <p style="margin-top: 0; margin-bottom: 5px;">3.1. İstifadəçinin kontakt.az saytında
                            qeydiyyatdan keçdikdən sonra ayrı-ayrı xidmətlərdən istifadə etmək hüququ vardır.</p>
                        <p style="margin-top: 0; margin-bottom: 5px;">3.2. Qeydiyyatdan keçərkən İstifadəçinin müstəqil
                            olaraq seçdiyi sayta giriş məlumatları göstərilir. Qeydiyyat üçün məlumatları daxil etdikdən
                            sonra İstifadəçi Qeydiyyat zamanı göstərilən e-poçt ünvanına Saytda Qeydiyyatı təsdiqləmək
                            üçün keçid lazım olan aktiv bir hiperlink ehtiva edən elektron məktub alır. Bir hesabın
                            qeydiyyatı İstifadəçinin bir elektron poçt ünvanı ilə aparılır. Saytda əvvəllər qeydiyyat
                            zamanı göstərilən e-poçt adresindən istifadə edərək yeni bir hesabın yenidən yaradılmasına
                            icazə verilmir. İstifadəçi Saytdakı Şəxsi Hesabdakı və ya lazım olduqda ABC Telecom MMC-nin
                            müəyyənləşdirdiyi başqa bir şəkildə qeydiyyat məlumatlarını dəyişə bilər. Şirkət Saytda
                            avtorizasiya edərkən İstifadəçi tərəfindən verilən məlumatı (məlumatları) xüsusi yoxlama ilə
                            təsdiqləmir. Saytda avtorizasiya edərkən İstifadəçi tərəfindən verilən bütün məlumatlar
                            Şirkət tərəfindən əlavə yoxlanılma olmadan qəbul edilir və təklifin qəbulu zamanı tələb
                            olunan sənədlərin işlənməsi üçün əsasdır.</p>
                        <p style="margin-top: 0; margin-bottom: 5px;">3.3. İstifadəçi qeydiyyat məlumatlarının
                            təhlükəsizliyini izləməli və üçüncü şəxslərə açıqlamamalıdır. İstifadəçinin qeydiyyat
                            məlumatlarını üçüncü şəxslərə ötürmək, habelə istifadəçinin müvafiq razılığı əsasında bu
                            məlumatları almış, onun adından və maraqları naminə fəaliyyət göstərən və ya istifadə edən
                            şəxslər istisna olmaqla, üçüncü şəxslərin qeydiyyat məlumatlarını kontakt.az saytında
                            avtorizasiya üçün istifadə etməsinə birbaşa və ya dolayı yolla icazə vermək hüququ
                            yoxdur.</p>
                        <p style="margin-top: 0; margin-bottom: 5px;">3.4. İstifadəçinin Şəxsi Hesabından qeydiyyat
                            məlumatlarını istifadə edərək, eləcə də şəxsi kabinetdə göstərilən İstifadəçinin telefon
                            nömrəsini istifadə edərək edilən hər hansı bir hərəkət, İstifadəçinin özü və ya onun
                            səlahiyyət verdiyi şəxs tərəfindən törədilmiş bir hərəkət sayılır və İstifadəçi üçün öhdəlik
                            və məsuliyyətləri müəyyənləşdirir. Bu barədə İstifadəçi tərəfindən kontakt.az saytında
                            yerləşdirilmiş İstifadəçi Sazişinin pozulmasına görə məsuliyyət, mallar ilə əlaqəli qanuni
                            tələblər daxildir.</p>
                        <p style="margin-top: 0; margin-bottom: 5px;">3.5. İstifadəçi, bu məlumatların açıqlandığından
                            və üçüncü şəxslər tərəfindən icazəsiz istifadə edilə biləcəyindən şübhələnərsə, şəxsi
                            qeydiyyat məlumatlarını dərhal dəyişdirmək məcburiyyətindədir.</p>
                        <p style="margin-top: 0; margin-bottom: 5px;">3.6. “ABC-Telecom” MMC -nin kontakt.az saytından
                            istifadə edərkən İstifadəçinin verdiyi məlumatların düzgünlüyünü yoxlamaq üçün mövcud
                            texniki həllərdən istifadə etmək hüququ vardır. “ABC-Telecom” MMC, İstifadəçinin həqiqətən
                            göründüyü kimliyinə zəmanət verə bilməz, həmçinin İstifadəçinin kontakt.az saytında verdiyi
                            məlumatların həqiqət olduğuna zəmanət verə bilməz. “ABC-Telecom” MMC, istifadəçilərə bunun
                            üçün kontakt.az saytında mövcud olan bütün vasitələrdən istifadə edərək potensial
                            kontragentlər, satıcılar və alıcılarla əlaqə qurmağı, əməliyyatlar edərkən və satıcı
                            seçərkən diqqətli və ehtiyatlı davranmağı tövsiyə edir.</p>
                        <p style="margin-top: 0;">3.7. “ABC-Telecom” MMC İstifadəçinin Saytdakı hesabını bərpa etmək
                            imkanı olmadan bloklamaq və ya silmək hüququna malikdir.</p>
                    </div>
                    <div class="control-group">
                        <h6 style="color: #8B4513; margin-bottom: 5px;">4. Cookies</h6>
                        <p style="margin-top: 0; margin-bottom: 5px;">4.1. Şirkət, İstifadəçilərin Saytda ən yaxşı
                            təcrübəni əldə etmələri üçün məlumatların mümkün qədər tam olmasını təmin etmək üçün cookies
                            istifadə edir. İstifadəçi Saytdan istifadə etməyə davam edərsə, bu, onun cookies
                            istifadəsinə və Şirkət tərəfindən bütün cookies alınmasına razılığını və İstifadəçiyə ən
                            uyğun təkliflər və kampaniyalar barədə son məlumatları göndərmək imkanı deməkdir. İstifadəçi
                            istənilən vaxt Saytdan istifadə etdiyi cihazın fərdi parametrləri ilə abunəlikdən çıxa və ya
                            cookies istifadəsini qadağan edə bilər.</p>
                        <p style="margin-top: 0; margin-bottom: 5px;">4.2. Saytdan mallara/ işlərə/ xidmətlərə baxmaq,
                            həmçinin sifariş vermək İstifadəçi üçün pulsuzdur. İnternetə çıxış şərtləri İstifadəçi ilə
                            İnternet provayderi arasında Şirkətlə əlaqədar olmayan ayrı bir müqavilə ilə
                            tənzimlənir.</p>
                        <p style="margin-top: 0; margin-bottom: 5px;">4.3. Sayt və Sayt tərəfindən göstərilən xidmətlər
                            profilaktik, gündəlik və digər texniki işlərə görə müvəqqəti olaraq qismən və ya tamamilə
                            əlçatmaz ola bilər. Şirkətin texniki xidməti, İstifadəçiyə xəbərdarlıq etmədən lazımi
                            profilaktik, gündəlik və digər texniki işləri aparmaq hüququna malikdir.</p>
                        <p style="margin-top: 0;">4.4. Şirkət Saytda əvvəlcədən dərc edilməsi şərti ilə bu Qaydalara
                            birtərəfli qaydada dəyişiklik etmək hüququnu özündə saxlayır.</p>
                    </div>
                    <div class="control-group">
                        <h6 style="color: #8B4513; margin-bottom: 5px;">5. Saytda təqdim olunan malların
                            qiymətləndirilməsi və rəylərin yazılması qaydaları</h6>
                        <p style="margin-top: 0; margin-bottom: 5px;">5.1. Xidmətdə yerləşdirilmiş məhsullar haqqında
                            rəylər, habelə istifadəçilərin dərc olunmuş rəyləri ilə bağlı şərhlər edə bilərsiniz,
                            xidmətdən istifadə edərkən yalnız göstərilən saytdakı sahələri doldurduqdan sonra məhsulları
                            qiymətləndirə bilərsiniz.</p>
                        <p style="margin-top: 0; margin-bottom: 5px;">5.2. İstifadəçilər tərəfindən buraxılan məhsul
                            baxışları, şərhlər və qiymətləndirmələr digər istifadəçilər tərəfindən nəzərdən keçirilə
                            bilər.</p>
                        <p style="margin-top: 0; margin-bottom: 5px;">5.3. İstifadəçi qeydiyyatdan keçdiyi zaman qeyd
                            etdiyi soyadını və adını dərc etdiyi icmalda (məhsul haqqında rəydə) dəyişdirə bilməz.</p>
                        <p style="margin-top: 0; margin-bottom: 5px;">5.4. Ona əlavə edilmiş rəylər və şəkillər, şərhlər
                            müəllifin qrammatikasının və punktuasiyasının qorunması ilə, istifadəçinin icazə zamanı
                            istifadə etdiyi giriş altında “olduğu kimi” yayımlanır və istifadə olunur. İstifadəçi, əlavə
                            etdiyi rəylərdə yer alan məlumatların düzgünlüyünə cavabdehdir.</p>
                        <p style="margin-top: 0; margin-bottom: 5px;">5.5. “ABC-Telecom” MMC müstəqil olaraq və
                            xəbərdarlıq etmədən İstifadəçilərə dərc üçün icmalları seçmək hüququna malikdir.</p>
                        <p style="margin-top: 0; margin-bottom: 5px;">5.6. İstifadəçi Xidmətin “ABC-Telecom” MMC-nin
                            nümayəndələrindən cavab alması barədə bülleteni almağa razıdır.</p>
                        <p style="margin-top: 0;">5.7. Xidmətdən istifadə edərək İstifadəçi “Reklam haqqında” Azərbaycan
                            Respublikası Qanununun 23.1-ci maddəsi bəndinə uyğun olaraq reklam xarakterli mesajlar
                            almağa razılıq verir. İstifadəçinin reklam mesajları almaqdan imtina etmək hüququ
                            vardır.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Site Rules End -->


</section>

</body>
</html>