<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}"
        lang="en">

<head>
    <title>Zəmanətlər</title>
</head>

<body>

<section layout:fragment="content">


    <!-- Breadcrumb Start -->
    <div class="container-fluid">
        <div class="row px-xl-5">
            <div class="col-12">
                <nav class="breadcrumb bg-light mb-30">
                    <a class="breadcrumb-item text-dark" href="/">Əsas</a>
                    <span class="breadcrumb-item active">Zəmanətlər</span>
                </nav>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->


    <!-- Warranty Start -->
    <div class="container-fluid">
        <h2 class="section-title position-relative text-uppercase mx-xl-5 mb-4">
            <span class="bg-secondary pr-3">Zəmanət Şərtləri</span>
        </h2>
        <div class="row px-xl-5">
            <div class="col-12 mb-5">
                <div class="contact-form bg-light p-30">
                    <div class="control-group">
                        <h5 style="color: #C68919; margin-bottom: 5px;">Qızıl Zəmanət</h5>
                        <p style="margin-top: 0;">Qızıl Zəmanət Screen Sertifikatı əldə etməklə Siz aşağıdakı imkanlara
                            sahib olacaqsınız:
                            1. Qızıl Zəmanət Screen Sertifikatı aşağıda adları qeyd edilən məhsullarının ekranın
                            təmiri/dəyişdirilməsi imkanı yaradır:
                            Smartfon, planşet, TV, Notbuk, monitor, monoblok.
                            2. Qızıl Zəmanət Screen Sertifikatı şərtləri ilə edilən hər bir təmir nəticəsi və
                            dəyişdirilmiş ehtiyat hissəsinə əlavə olaraq 30 gün zəmanət təqdim edilir.
                            3. Məhsulun ekranının dəyişdirilməsi mümkün olmadığı təqdirdə aşağıdakı cədvələ uyğun
                            kompensasiya təqdim edilir. 4. Ekranın pulsuz dəyişdirilməsinin təmin edilməsi üçün digər
                            ehtiyat hissələrinin təmirinə zərurət yaranarsa, müştəridən əlavə ödəniş tələb edilə bilər.
                            Təmir effektivliyi üçün ekrandan başqa digər ehtiyat hissəsinin ödənişli təmiri zərurəti
                            yaranarsa, təmir məbləği edilməyənədək ekran dəyişdirilməsi mümkün deyil.
                            5. Qızıl Zəmanət Screen Sertifikatının satış tarifləri aşağıdakı kimidir.</p>
                    </div>
                    <div class="control-group">
                        <h5 style="color: #C68919; margin-bottom: 5px;">Qızıl Zəmanət Ultra</h5>
                        <p style="margin-top: 0;">Qızıl Zəmanət Ultra şərtləri əldə etməklə Siz aşağıdakı imkanlara
                            sahib olacaqsınız.
                            1. Məhsulun istifadəsi nəticəsində yaranan bütün qüsurlar zəmanət müddəti çərçivəsində hər
                            ehtiyat hissəsi bir dəfə olmaq şərti ilə tam pulsuz, 14 iş günü ərzində təmir edilir.
                            Məhsulun zədələnərək sıradan çıxdığı hallar;
                            Məhsula maye keçmə halları;
                            Açıq alovla təmas nəticəsində məhsulun sıradan çıxması halı;
                            Aşkarlanan virusun məhsulun istifadəsinə xələl gətirdiyi hallar.
                            1.1 Məhsulun təmiri mümkün olmadıqda aşağıda göstərilmiş cədvələ uyğun kompensasiya təqdim
                            edilir. (Cədvəl 1)
                            1.2 Məhsulun komplektasiyasına daxil olan aksesuarlar zəmanətə aid deyil. ( İstisna: TV
                            pult, fotoaparat obyektivi )
                            Qeyd: Smartfonlarda, düyməli telefonlarda, planşetlərdə, notbuklarda batereya zəmanətə aid
                            deyil. Təmir məbləği məhsulun satış qiymətindən yüksək olarsa, kompensasiya rüblər üzrə
                            tətbiq ediləcək.
                            Əgər məhsul təmirə yararsızdırsa – müştəri məhsulun qiymətinin 10%-ini əlavə ödəməklə
                            məhsulun 100% dəyərini kompensassiya qismində əldə edə bilər (mağazalarımızda istifadə etmə
                            şərtilə)
                            2. Qızıl Zəmanət Ultra Sertifikatı şərtləri ilə edilən hər bir təmir nəticəsi və
                            dəyişidirilmiş ehtiyat hissəsinə əlavə olaraq 30 (təqvim)
                            günü zəmanət təqdim edilir.
                            3. Təmir 14 iş gününü keçərsə, əldə etdiyiniz məhsulun 100 % dəyərində yenisini əldə edə
                            bilərsiniz.

                            Güzəşt şərtindən 90 gün ərzində yararlanma imkanı var.
                            4. Qızıl Zəmanət Ultra Sertifikatı olan məhsullar oğurlandığı halda aşağıdakı göstərilmiş
                            cədvələ uyğun kompensasiya təqdim edilir. (Cədvəl 1)

                            Müraciət zamanı hüquq – mühafizə orqanlarından oğurluq faktını təsdiq edən müvafiq sənəd
                            təqdim edilməlidir.
                            5. Qızıl Zəmanət Ultra Sertifakı Sizə zəmanət müddəti çərçivəsində güzəştli şərtlərlə
                            məhsulu dəyişmək imkanı verir. (Cədvəl 1)

                            Məhsul hissəvi satışla əldə edilibsə, məhsulun ödənişləri davam etdirilir.
                            Öncə əldə edilən məhsul Kontakt Home mağazasına təqdim edilir
                            Daha öncə məhsul Qızıl Zəmanət Ultra Sertifakatı əsasında təmir edilibsə, güzəştli dəyişmək
                            imkanı qüvvədən düşür.
                            İstisna: Əgər məhsulun təmiri mümkün deyilsə, güzəştli dəyişdirilmə şərtindən yararlana
                            bilər.
                            (daha öncə QZ Ultra əsasında təmir edilibsə, təmir məbləği güzəşt məbləğindən çıxılacaq)
                            İstənilən səbəbdən müştəriyə təqdim edilən kompensassiya yalnız Kontakt Home mağazalar
                            şəbəkəsində istifadə edilməsi üçün endirim kuponu vasitəsilə verilir.</p>
                    </div>
                    <div class="control-group">
                        <h5 style="color: #C68919; margin-bottom: 5px;">Sığorta şəhadətnaməsi</h5>
                        <p style="margin-top: 0;">Qızıl Zəmanət Ultra şərtləri əldə etməklə Siz aşağıdakı imkanlara
                            sahib olacaqsınız.
                            1. Məhsulun istifadəsi nəticəsində yaranan bütün qüsurlar zəmanət müddəti çərçivəsində hər
                            ehtiyat hissəsi

                            bir dəfə olmaq şərti ilə tam pulsuz, 14 iş günü ərzində təmir edilir.


                            Məhsulun zədələnərək sıradan çıxdığı hallar;

                            Məhsula maye keçmə halları;

                            Açıq alovla təmas nəticəsində məhsulun sıradan çıxması halı;

                            Aşkarlanan virusun məhsulun istifadəsinə xələl gətirdiyi hallar.

                            1.1 Məhsulun təmiri mümkün olmadıqda aşağıda göstərilmiş cədvələ uyğun kompensasiya təqdim
                            edilir. (Cədvəl 1)

                            1.2 Məhsulun komplektasiyasına daxil olan aksesuarlar zəmanətə aid deyil. (İstisna: TV pult,
                            fotoaparat obyektivi)
                            Qeyd: Smartfonlarda, düyməli telefonlarda, planşetlərdə, notbuklarda batereya zəmanətə aid
                            deyil. Təmir məbləği məhsulun satış qiymətindən yüksək olarsa, kompensasiya rüblər üzrə
                            tətbiq ediləcək.

                            2. Qızıl Zəmanət Ultra Sertifikatı şərtləri ilə edilən hər bir təmir nəticəsi və
                            dəyişidirilmiş ehtiyat hissəsinə əlavə olaraq 30 (təqvim) günü zəmanət təqdim edilir.

                            3. Təmir 14 iş gününü keçərsə, əldə etdiyiniz məhsulun 100 % dəyərində yenisini əldə edə
                            bilərsiniz.

                            Güzəşt şərtindən 90 gün ərzində yararlanma imkanı var.
                            4. Qızıl Zəmanət Ultra Sertifikatı olan məhsullar oğurlandığı halda aşağıdakı göstərilmiş
                            cədvələ uyğun kompensasiya təqdim edilir. (Cədvəl 1. )

                            Müraciət zamanı hüquq – mühafizə orqanlarından oğurluq faktını təsdiq edən müvafiq sənəd
                            təqdim edilməlidir.
                            5. Qızıl Zəmanət Ultra Sertifakı Sizə zəmanət müddəti çərçivəsində güzəştli şərtlərlə
                            məhsulu dəyişmək imkanı verir. (Cədvəl 1)

                            Məhsul hissəvi satışla əldə edilibsə, məhsulun ödənişləri davam etdirilir.
                            Öncə əldə edilən məhsul Kontakt Home mağazasına təqdim edilir.
                            Daha öncə məhsul Qızıl Zəmanət Ultra Sertifakatı əsasında təmir edilibsə, güzəştli dəyişmək
                            imkanı qüvvədən düşür.
                            İstisna: Əgər məhsulun təmiri mümkün deyilsə, güzəştli dəyişdirilmə şərtindən yararlana
                            bilər.
                            (daha öncə QZ Ultra əsasında təmir edilibsə, təmir məbləği güzəşt məbləğindən çıxılacaq)
                            İstənilən səbəbdən müştəriyə təqdim edilən kompensassiya yalnız Kontakt Home mağazalar
                            şəbəkəsində istifadə edilməsi üçün endirim kuponu vasitəsilə verilir.</p>
                    </div>
                    <div class="control-group">
                        <h5 style="color: #C68919; margin-bottom: 5px;">Zəmanət Plus</h5>
                        <p style="margin-top: 0;">Zəmanət Plus Sertifikatı şərtləri əldə etməklə Siz aşağıdakı imkanlara
                            sahib olacaqsınız.

                            1. Rəsmi zəmanət müddəti bitdikdən sonra eyni şərtlər əsasında yaranan texniki nasazlıqların
                            aradan qaldırılır;

                            Zəmanətə ancaq məhsulun özündən irəli gələn texniki nasazlıqların aradan qaldırılması şamil
                            edilir.
                            2. Zəmanət Plus Sertifikatı şərtləri ilə edilən hər bir təmir nəticəsi və dəyişidirilmiş
                            ehtiyat hissəsinə əlavə olaraq 30 (təqvim) günü zəmanət təqdim edilir.
                            3. Təmir 14 iş gününü keçərsə, əldə etdiyiniz məhsulun 100 % dəyərində yenisini əldə edə
                            bilərsiniz.

                            Güzəşt şərtindən 90 gün ərzində yararlanma imkanınız var.
                            4. Müştəri Zəmant Plyus Sertifikatının qüvvədə olduğu müddət ərzində onun şərtlərindən
                            istifadə etməyibsə, bu zaman ona Kontakt Home mağazalarında istifadə üçün Zəmanət Plyus
                            Sertifikatının qiymətinin 100 % dəyərində endirim kuponu verilir.

                            Endirim kuponu əldə etmək üçün 1 ay ərzində müraciət edilməlidir.
                            Kuponunin istifadə müddəti zəmanət bitdikdən sonra 90 gün ərzində qüvvədədir.
                            5. Mebel kateqoriyasında olan məhsullara aşağıdakı əlavə şərtlər tətbiq edilir.

                            Zəmanət Plyus Sertifikatı qüvvəyə mindiyi tarixdən hər il bir dəfə tam pulsuz kimyəvi
                            təmizləmə imkanı (yumşaq mebellərdə);
                            Zəmanət müddəti ərzində bir dəfə mebelin bir ünvandan digərinə ödənişsiz və tam təhlükəsiz
                            daşınması imkanı;
                            Fövqaladə hallar baş verdiyi halda (yanğın, subasma və s.) 100 % kompensasiya tətbiq edilir.
                            6. Zəmanət Plus Sertifikatının satış tarifləri aşağıdakı kimidir.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Warranty End -->


</section>

</body>
</html>