<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{admin/layout}"
        lang="en">
<head>
    <meta charset="UTF-8">
    <title>Məhsullar - Yenilə</title>
</head>
<body>

<section layout:fragment="content">

    <form method="post" onsubmit="return validateAndSubmitForm()" style="margin-left: 50px;">
        <div style="margin: 10px 0;">
            <input type="text" name="name" placeholder="Product name" th:value="${product.name}" style="width: 350px;"
                   required>
        </div>
        <div style="margin: 10px 0;">
            <input type="number" name="price" placeholder="Price" th:value="${product.price}" style="width: 350px;"
                   required>
        </div>
        <div style="margin: 10px 0;">
            <input type="text" name="description" placeholder="Description" th:value="${product.description}"
                   style="width: 350px;" required>
        </div>
        <div style="margin: 10px 0;">
            <input type="text" name="moreDetail" placeholder="More detail" th:value="${product.moreDetail}"
                   style="width: 350px;" required>
        </div>
        <div style="margin: 10px 0;">
            <input type="number" name="discountPrice" placeholder="Discount price" th:value="${product.discountPrice}"
                   style="width: 350px;" required>
        </div>
        <div style="margin: 10px 0;">
            <label for="discountDate" style="display: block; margin-bottom: 1px;">Discount Date:</label>
            <input type="datetime-local" name="discountDate" th:value="${product.discountDate}" id="discountDate"
                   style="width: 350px;" required>
        </div>

        <!-- Dinamik şəkil URL inputları -->
        <div id="imagesContainer" style="margin: 10px 0;">
            <label for="images" style="display: block; margin-bottom: 1px;">Product Images:</label>
            <div th:each="image, iterStat : ${product.images}"
                 style="margin-bottom: 10px; display: flex; align-items: center;">
                <input th:value="${image.url}" type="text" name="imagesUrl" placeholder="Enter image URL"
                       id="images" style="width: 350px; display: block; margin-right: 5px;" required>
                <button type="button" th:if="${!iterStat.first}" onclick="removeImage(this)">Remove</button>
            </div>
        </div>
        <button type="button" onclick="addImageUrl()">Add Another Image</button>


        <div style="margin: 10px 0;">
            <input type="checkbox" id="featured" name="featured" th:checked="${product.featured}">
            <label for="featured">Is featured?</label>
        </div>
        <div style="margin: 10px 0;">
            <input type="checkbox" id="offered" name="offered" th:checked="${product.offered}">
            <label for="offered">Is offered?</label>
        </div>

        <div style="margin: 10px 0;">
            <label for="brand" style="display: block; margin-bottom: 1px;">Brand:</label>
            <select name="brandId" id="brand" style="width: 350px;" required>
                <option value="">Select brand</option>
                <th:block th:each="brand : ${brands}">
                    <option th:value="${brand.id}" th:text="${brand.name}"
                            th:selected="${brand.id} == ${product.brand.id}"></option>
                </th:block>
            </select>
        </div>

        <div style="margin: 10px 0;">
            <label for="category" style="display: block; margin-bottom: 1px;">Category:</label>
            <select name="categoryId" id="category" style="width: 350px;" required>
                <option value="">Select category</option>
                <th:block th:each="category : ${categories}">
                    <option th:value="${category.id}" th:text="${category.name}"
                            th:selected="${category.id} == ${product.category.id}"></option>
                </th:block>
            </select>
        </div>

        <div style="margin: 10px 0;">
            <label for="subcategory" style="display: block; margin-bottom: 1px;">Subcategory:</label>
            <select name="subcategoryId" id="subcategory" style="width: 350px;" required>
                <option value="">Select subcategory</option>
                <th:block th:each="subcategory : ${subcategories}">
                    <option th:value="${subcategory.id}" th:text="${subcategory.subcategoryName.name}"
                            th:selected="${subcategory.id} == ${product.subcategory.id}"></option>
                </th:block>
            </select>
        </div>

        <div style="margin: 10px 0;">
            <button type="submit">Update</button>
        </div>
    </form>


</section>

</body>
</html>