<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}"
        lang="en">

<head>
    <title>Haqqımızda</title>
</head>

<body>

<section layout:fragment="content">


    <!-- Breadcrumb Start -->
    <div class="container-fluid">
        <div class="row px-xl-5">
            <div class="col-12">
                <nav class="breadcrumb bg-light mb-30">
                    <a class="breadcrumb-item text-dark" href="/">Əsas</a>
                    <span class="breadcrumb-item active">Haqqımızda</span>
                </nav>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->


    <!-- Contact Start -->
    <div class="container-fluid">
        <h2 class="section-title position-relative text-uppercase mx-xl-5 mb-4">
            <span class="bg-secondary pr-3">Haqqımızda</span>
        </h2>
        <div class="row px-xl-5">
            <div class="col-12 mb-5">
                <div class="contact-form bg-light p-30">
                    <div class="control-group">
                        <p class="help-block text-danger">1315315</p>
                    </div>
                    <div class="control-group">
                        <p>1321561561 vsvsdvsdvdv dcccccccccccccccccv sdvvvvvvvvvvvvvvvvv
                        dvdssssssssssssssssssss sdvsddddddddd vdddddddddddddddddddd
                        dvssssssssssssssssss dssssssssssscdccccccccccccccccccccccccc
                        dsvvvvvvvvvvvvvvvvvv sddddddddddddddddv</p>
                    </div>
                    <div class="control-group">
                        <p class="help-block text-danger">5111111111</p>
                    </div>
                    <div class="control-group">
                        <p class="help-block text-danger">cd1111551</p>
                    </div>
                    <div class="control-group">
                        <p class="help-block text-danger">21651161615</p>
                    </div>
                    <div>
                        <p>21651161615</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Contact End -->


</section>

</body>
</html>