<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{admin/layout}"
        lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sifariş Məhsulunu Sil</title>
</head>
<body>

<section layout:fragment="content">

    <h1 style="text-align: center;">Silmək istədiyinə əminsən?</h1>

    <div style="text-align: center; margin: 20px;">
        <button class="btn btn-secondary" style="margin-right: 10px;">
            <a href="/admin/order" style="color: white; text-decoration: none;">İmtina</a>
        </button>

        <form method="post" style="display: inline;">
            <input type="hidden" name="orderItemId" th:value="${orderItem.id}">
            <button type="submit" class="btn btn-primary" style="background-color: #FF4D4D; border-color: #FF4D4D; min-width: 70px;"
                    onmouseover="this.style.backgroundColor='#FF2929';" onmouseout="this.style.backgroundColor='#FF4D4D';">
                Sil</button>
        </form>
    </div>



</section>

</body>
</html>