<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{admin/layout}"
        lang="en">
<head>
    <meta charset="UTF-8">
    <title>Müraciətlər</title>
</head>
<body>

<section layout:fragment="content">

    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Ad</th>
            <th scope="col">Soyad</th>
            <th scope="col">E-poçt</th>
            <th scope="col">Mövzu</th>
            <th scope="col">Mesaj</th>
            <th scope="col">Seçim</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="appeal : ${appeals.data}">
            <td th:text="${appeal.id}" scope="row" style="vertical-align: middle;">1</td>
            <td th:text="${appeal.name}" style="vertical-align: middle;">Name</td>
            <td th:text="${appeal.surname}" style="vertical-align: middle;">Surname</td>
            <td th:text="${appeal.email}" style="vertical-align: middle;">Email</td>
            <td th:text="${appeal.subject}" style="vertical-align: middle;">Subject</td>
            <td th:text="${appeal.message}" style="vertical-align: middle;">Message</td>
            <td style="vertical-align: middle;">
                <a href="https://mail.google.com/" class="btn btn-primary py-1 px-2">Cavabla</a>
            </td>
        </tr>
        </tbody>
    </table>

    <!-- Pagination Buttons for Index -->
    <div class="pagination" style="display: flex; justify-content: center;" th:if="${urlType == 'index'}">
        <ul style="list-style-type: none; padding: 0; margin: 0; display: flex;">
            <!-- Previous düyməsi -->
            <li th:if="${appeals.currentPage > 1}" style="margin-right: 10px;">
                <a th:href="@{/admin/appeal(currentPage=${appeals.currentPage - 1})}">Əvvəlki</a>
            </li>
            <!-- Səhifə nömrələri -->
            <li th:each="pageNumber : ${#numbers.sequence(1, appeals.totalPage)}"
                style="margin-right: 10px;">
                <a th:href="@{/admin/appeal(currentPage=${pageNumber})}" th:text="${pageNumber}"
                   style="background-color: ${products.currentPage == pageNumber ? 'red' : 'transparent'};
                      color: ${products.currentPage == pageNumber ? 'white' : 'black'};
                      padding: 5px 10px; border-radius: 5px; text-decoration: none;">1</a>
            </li>
            <!-- Next düyməsi -->
            <li th:if="${appeals.currentPage < appeals.totalPage}" style="margin-right: 10px;">
                <a th:href="@{/admin/appeal(currentPage=${appeals.currentPage + 1})}">Növbəti</a>
            </li>
        </ul>
    </div>

    <!-- Pagination Buttons for Search -->
    <div class="pagination" style="display: flex; justify-content: center;" th:if="${urlType == 'search'}">
        <ul style="list-style-type: none; padding: 0; margin: 0; display: flex;">
            <!-- Previous düyməsi -->
            <li th:if="${appeals.currentPage > 1}" style="margin-right: 10px;">
                <a th:href="@{/admin/search/appeal(currentPage=${appeals.currentPage - 1}, keyword=${keyword})}">Əvvəlki</a>
            </li>
            <!-- Səhifə nömrələri -->
            <li th:each="pageNumber : ${#numbers.sequence(1, appeals.totalPage)}"
                style="margin-right: 10px;">
                <a th:href="@{/admin/search/appeal(currentPage=${pageNumber}, keyword=${keyword})}" th:text="${pageNumber}"
                   style="background-color: ${products.currentPage == pageNumber ? 'red' : 'transparent'};
                      color: ${products.currentPage == pageNumber ? 'white' : 'black'};
                      padding: 5px 10px; border-radius: 5px; text-decoration: none;">1</a>
            </li>
            <!-- Next düyməsi -->
            <li th:if="${appeals.currentPage < appeals.totalPage}" style="margin-right: 10px;">
                <a th:href="@{/admin/search/appeal(currentPage=${appeals.currentPage + 1}, keyword=${keyword})}">Növbəti</a>
            </li>
        </ul>
    </div>

</section>

</body>
</html>