<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{admin/layout}"
        lang="en">
<head>
    <meta charset="UTF-8">
    <title>Slaydlar - Əlavə et</title>
</head>
<body>

<section layout:fragment="content">

    <form method="post" style="margin-left: 50px;">
        <div style="margin: 10px 0;">
            <input type="text" name="title" placeholder="Write slide title" style="width: 350px;" required>
        </div>
        <div style="margin: 10px 0;">
            <input type="text" name="description" placeholder="Write slide description" style="width: 350px;" required>
        </div>
        <div style="margin: 10px 0;">
            <input type="text" name="image" placeholder="Write slide image url" style="width: 350px;" required>
        </div>
        <div style="margin: 10px 0;">
            <input type="text" name="url" placeholder="Write url to click" style="width: 350px;" required>
        </div>
        <div style="margin: 10px 0;">
            <input type="checkbox" id="active" name="active">
            <label for="active">Is active?</label>
        </div>
        <div style="margin: 10px 0;">
            <button type="submit">Create</button>
        </div>
    </form>

</section>

</body>
</html>