<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}"
        lang="en">

<head>
    <title>Məhsul Haqqında</title>
</head>

<body>

<section layout:fragment="content">


    <!-- Breadcrumb Start -->
    <div class="container-fluid">
        <div class="row px-xl-5">
            <div class="col-12">
                <nav class="breadcrumb bg-light mb-30">
                    <a class="breadcrumb-item text-dark" href="/">Əsas</a>
                    <a class="breadcrumb-item text-dark" href="/shop">Mağaza</a>
                    <span class="breadcrumb-item active">Məhsul Haqqında</span>
                </nav>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->


    <!-- Shop Detail Start -->
    <div class="container-fluid pb-5">
        <div class="row px-xl-5">
            <!-- Product Images -->
            <div class="col-lg-5 mb-30">
                <div id="product-carousel" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner bg-light">
                        <div th:each="image, iter : ${product.images}"
                             th:class="carousel-item"
                             th:classappend="${iter.index == 0 ? ' active' : ''}">
                            <img class="w-100 h-100" th:src="${image.url}" alt="Image">
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#product-carousel" data-slide="prev">
                        <i class="fa fa-2x fa-angle-left text-dark"></i>
                    </a>
                    <a class="carousel-control-next" href="#product-carousel" data-slide="next">
                        <i class="fa fa-2x fa-angle-right text-dark"></i>
                    </a>
                </div>
            </div>

            <div class="col-lg-7 h-auto mb-30">
                <div class="h-100 bg-light p-30">
                    <h3 th:text="${product.name}">Product Name</h3>

                    <!-- Product Rating -->
                    <div class="d-flex mb-3">
                        <div class="text-primary mr-2">
                            <span th:each="star : ${#numbers.sequence(1, 5)}"
                                   th:classappend="${product.rating >= star} ? 'fas fa-star text-primary mr-1' :
                                (${product.rating >= star - 0.5} ? 'fas fa-star-half-alt text-primary mr-1' : 'far fa-star text-primary mr-1')">
                            </span>
                        </div>
                        <small th:text="${'(' + product.reviews.size + ' qiymətləndirmə)'}" class="pt-1">
                            (99 Reviews)</small>
                    </div>

                    <!-- Product Description -->
                    <h3 th:text="${product.discountPrice + ' ₼'}" class="font-weight-semi-bold mb-4">0 ₼</h3>
                    <p th:text="${product.description}" class="mb-4">Description</p>
                    <div class="d-flex mb-3">
                    </div>
                    <div class="d-flex mb-4">
                    </div>
                    <form method="post" action="/cart/add">
                        <div class="d-flex align-items-center mb-4 pt-2">
                            <div class="input-group quantity mr-3" style="width: 130px;">
                                <div class="input-group-btn">
                                    <button type="button" class="btn btn-primary btn-minus">
                                        <i class="fa fa-minus"></i>
                                    </button>
                                </div>
                                <input name="quantity" value="1" placeholder="0"
                                       class="form-control bg-secondary border-0 text-center">
                                <div class="input-group-btn">
                                    <button type="button" class="btn btn-primary btn-plus">
                                        <i class="fa fa-plus"></i>
                                    </button>
                                </div>
                            </div>
                            <input name="productId" type="hidden" th:value="${product.id}">
                            <button type="submit" class="btn btn-primary px-3"><i class="fa fa-shopping-cart mr-1"></i>
                                Səbətə At
                            </button>
                        </div>
                    </form>
                    <div class="d-flex pt-2">
                        <strong class="text-dark mr-2">Paylaşın:</strong>
                        <div class="d-inline-flex">
                            <a class="text-dark px-2" href="https://www.facebook.com/">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                            <a class="text-dark px-2" href="https://x.com/">
                                <i class="fab fa-twitter"></i>
                            </a>
                            <a class="text-dark px-2" href="https://www.linkedin.com/">
                                <i class="fab fa-linkedin-in"></i>
                            </a>
                            <a class="text-dark px-2" href="https://www.pinterest.com/">
                                <i class="fab fa-pinterest"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row px-xl-5">
            <div class="col">
                <div class="bg-light p-30">
                    <div class="nav nav-tabs mb-4">
                        <a class="nav-item nav-link text-dark active" data-toggle="tab"
                           href="#tab-pane-1">Xüsusiyyətlər</a>
                        <a th:text="'İstifadəçi rəyləri (' + ${product.reviews.size} + ')'"
                           class="nav-item nav-link text-dark" data-toggle="tab" href="#tab-pane-2">
                            İstifadəçi rəyləri (0)</a>
                    </div>
                    <div class="tab-content">

                        <!-- Product More Detail -->
                        <div class="tab-pane fade show active" id="tab-pane-1">
                            <h4 class="mb-3">Xüsusiyyətlər</h4>
                            <p th:text="${product.moreDetail}">More details</p>
                            <div class="row">
                                <div class="col-md-6">
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item px-0">
                                            Sit erat duo lorem duo ea consetetur, et eirmod takimata.
                                        </li>
                                        <li class="list-group-item px-0">
                                            Amet kasd gubergren sit sanctus et lorem eos sadipscing at.
                                        </li>
                                        <li class="list-group-item px-0">
                                            Duo amet accusam eirmod nonumy stet et et stet eirmod.
                                        </li>
                                        <li class="list-group-item px-0">
                                            Takimata ea clita labore amet ipsum erat justo voluptua. Nonumy.
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-md-6">
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item px-0">
                                            Sit erat duo lorem duo ea consetetur, et eirmod takimata.
                                        </li>
                                        <li class="list-group-item px-0">
                                            Amet kasd gubergren sit sanctus et lorem eos sadipscing at.
                                        </li>
                                        <li class="list-group-item px-0">
                                            Duo amet accusam eirmod nonumy stet et et stet eirmod.
                                        </li>
                                        <li class="list-group-item px-0">
                                            Takimata ea clita labore amet ipsum erat justo voluptua. Nonumy.
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane fade" id="tab-pane-2">
                            <div class="row">

                                <!-- Product Reviews -->
                                <div class="col-md-6">
                                    <h4 th:text="${product.name} + ' haqqında rəylər'" class="mb-4">
                                        Reviews for Product</h4>
                                    <div th:each="review : ${reviews}" class="media mb-4">
                                        <img th:src="${review.userImage}" alt="Image" class="img-fluid mr-3 mt-1"
                                             style="width: 45px; height: 45px;">
                                        <div class="media-body">
                                            <div style="display: flex; align-items: center;">
                                                <h6 th:text="${review.userName + ' ' + review.userSurname}"
                                                    style="margin: 0;">User Name</h6>
                                                <span style="margin: 0 5px;">-</span>
                                                <small><i th:text="${review.formattedWritingDate}">01 Jan
                                                    2045</i></small>
                                            </div>
                                            <div>
                                                <i th:each="star : ${#numbers.sequence(1, 5)}"
                                                   th:classappend="${review.rating >= star} ?
                                                   'fas fa-star text-primary mb-2' : 'far fa-star text-primary mb-2'"
                                                   style="margin-right: 3px;">
                                                </i>
                                            </div>
                                            <p th:text="${review.comment}">Comment</p>
                                        </div>
                                    </div>
                                </div>

                                <!-- Write Review For Product -->
                                <div class="col-md-6">
                                    <h4 class="mb-4">Rəy yazın</h4>
                                    <small>E-poçt ünvanınız yayınlanmayacaq.
                                        Tələb olunan sahələr ulduzlanıb.</small>
                                    <form id="reviewForm" method="post" action="/review">
                                        <div class="d-flex my-3">
                                            <p class="mb-0 mr-2">Qiymətiniz * :</p>
                                            <div class="star-rating">
                                                <input name="rating" type="radio" value="5" id="star5">
                                                <label for="star5"><i class="far fa-star"></i></label>

                                                <input name="rating" type="radio" value="4" id="star4">
                                                <label for="star4"><i class="far fa-star"></i></label>

                                                <input name="rating" type="radio" value="3" id="star3">
                                                <label for="star3"><i class="far fa-star"></i></label>

                                                <input name="rating" type="radio" value="2" id="star2">
                                                <label for="star2"><i class="far fa-star"></i></label>

                                                <input name="rating" type="radio" value="1" id="star1">
                                                <label for="star1"><i class="far fa-star"></i></label>
                                            </div>
                                            <!-- Xəbərdarlıq mesajı üçün yer -->
                                            <small id="ratingWarning" style="color: red; display: none;">Zəhmət olmasa
                                                ulduz seçin!</small>
                                        </div>
                                        <div class="form-group">
                                            <label for="message">Rəyiniz *</label>
                                            <textarea name="comment" id="message" cols="30" rows="5"
                                                      class="form-control"></textarea>
                                            <!-- Xəbərdarlıq mesajı üçün yer -->
                                            <small id="commentWarning" style="color: red; display: none;">Zəhmət olmasa
                                                rəy yazın!</small>
                                        </div>
                                        <div class="form-group">
                                            <input name="productId" type="hidden" th:value="${product.id}"
                                                   class="form-control" id="name">
                                        </div>
                                        <div class="form-group mb-0">
                                            <input type="submit" value="Rəy yaz" class="btn btn-primary px-3">
                                        </div>
                                    </form>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Shop Detail End -->


    <!-- Related Products Start -->
    <div class="container-fluid py-5">
        <h2 class="section-title position-relative text-uppercase mx-xl-5 mb-4"><span class="bg-secondary pr-3">Oxşar Məhsullar</span>
        </h2>
        <div class="row px-xl-5">
            <div class="col">
                <div class="owl-carousel related-carousel">
                    <div th:each="relateProduct : ${relatedProducts}" class="product-item bg-light">
                        <div class="product-img position-relative overflow-hidden">
                            <img class="img-fluid w-100" th:src="${relateProduct.image}" alt="">
                            <div class="product-action">
                                <a th:href="'/cart/' + ${relateProduct.id}" class="btn btn-outline-dark btn-square"><i
                                        class="fa fa-shopping-cart"></i></a>
                                <a th:href="'/favorites/add/' + ${relateProduct.id}"
                                   class="btn btn-outline-dark btn-square"><i
                                        class="far fa-heart"></i></a>
                                <a th:href="'/detail/' + ${relateProduct.id}" class="btn btn-outline-dark btn-square"><i
                                        class="fa fa-search"></i></a>
                            </div>
                        </div>
                        <div class="text-center py-4">
                            <a th:text="${relateProduct.name}" th:href="'/detail/' + ${relateProduct.id}"
                               class="h6 text-decoration-none text-truncate">
                                Product Name</a>
                            <div class="d-flex align-items-center justify-content-center mt-2">
                                <h5 th:text="${relateProduct.discountPrice} + ' ₼'">$123.00</h5>
                                <h6 class="text-muted ml-2">
                                    <del th:text="${relateProduct.price} + ' ₼'">$123.00</del>
                                </h6>
                            </div>
                            <div class="d-flex align-items-center justify-content-center mb-1">
                                <small th:each="star : ${#numbers.sequence(1, 5)}"
                                       th:classappend="${relateProduct.rating >= star} ? 'fas fa-star text-primary mr-1' :
                                (${relateProduct.rating >= star - 0.5} ? 'fas fa-star-half-alt text-primary mr-1' : 'far fa-star text-primary mr-1')">
                                </small>
                                <small th:text="${'(' + relateProduct.reviews.size + ')'}">(99)</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Related Products End -->


</section>

</body>
</html>